:root {
  --blue: #3498dd;
  --grey: #ccc;
}

.btn {
  padding: 12px 15px;
  color: #f0f0f0;
  border: 0;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px;
  transition: filter 0.25s ease;
}

.btn:active {
  filter: brightness(0.92);
}

.btn.blue {
  background-color: var(--blue);
}

.btn.cancel {
  color: #444;
  background-color: var(--grey);
}